/* Base SaSS file to define colors, variables, etc */
/* Colors */
/* Fonts */
/* Font Sizes */
/* Icons */
/* Mixins */
.landing-side-container {
  background: #ffd470;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffd470 0%, #f9b700 100%, #fcc110 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd470), color-stop(100%, #f9b700), color-stop(100%, #fcc110));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffd470 0%, #f9b700 100%, #fcc110 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffd470 0%, #f9b700 100%, #fcc110 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffd470 0%, #f9b700 100%, #fcc110 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffd470 0%, #f9b700 100%, #fcc110 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd470', endColorstr='#fcc110',GradientType=0 );
  /* IE6-9 */
  min-height: 100% !important;
  height: 130%;
  padding-bottom: 10px;
  text-align: center;
}

.sameheight-wrap {
  overflow: hidden;
}

.sameheight {
  margin-bottom: -3000px;
  padding-bottom: 3000px;
}

.landing-plans-table {
  padding-bottom: 20px;
}
.landing-plans-table #landing-plans-container {
  margin: 0 auto;
}
.landing-plans-table #landing-plans-container .landing-column-nomargin {
  margin-right: -3px;
}
.landing-plans-table #landing-plans-container .landing-column-annual {
  margin-top: 0px !important;
}

.landing-button {
  background-color: #fcc110;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  display: inline-block;
  color: #474761;
  font-family: "Open Sans" !important;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
}

.landing-button-text {
  font-size: 14px;
}

.landing-button-text br {
  display: block;
  margin: -3px 0;
}

.landing-header {
  padding-top: 40px;
  text-align: center;
}

.landing-banner2 {
  padding-top: 80px;
}

.landing-banner3 {
  padding-top: 60px;
}

.landing .span10 {
  /* width: 80%; */
}

.landing .span2 {
  /*  width: 20%; */
}

.landing-content {
  text-align: center;
}

.landing-section {
  border-bottom: 2px solid #bdbdbd;
  width: 80%;
  margin-left: 10%;
}

.landing-video {
  height: 265px !important;
  margin-left: 30%;
  margin-right: 30% !important;
  margin-bottom: 10px;
  width: 40% !important;
}

.landing-top-container {
  background-color: #e6e6e6;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}

.login-header {
  background-color: #474761;
  color: white;
  padding: 10px;
}

.landing-login-container {
  background-color: #e6e6e6;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}

.landing-contact-container {
  background-color: #e6e6e6;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}

.landing-button-plans-container {
  margin: 20px 20px 40px;
}

.landing-table-headers {
  background-color: #474761;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.landing-table-content {
  background-color: #e6e6e6;
  color: #474761;
  margin-left: 5%;
  padding: 35px 0 36px;
  width: 90%;
}

.landing-border-bottom {
  border-bottom: 1px solid #bdbdbd;
}

.landing-table-best {
  padding: 20px 0;
  font-size: 16px;
}

.landing-table-institutional {
  font-size: 12px;
  padding: 0;
}

.landing-month {
  padding: 15px 0;
}

.landing-column {
  background-color: #E6E6E6;
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.landing-column-border {
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  width: 210px;
}

.landing-column-right-border {
  border-right: 1px solid #bdbdbd;
  width: 180px;
}

.landing-column-left-border {
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  margin-left: 10px;
  width: 180px;
}

.landing-table-annual {
  background-color: #fcc110;
  color: #474761;
  font-size: 18px;
  font-weight: bold;
}

.landing-column-month {
  width: 180px;
}

.landing-font-weight {
  font-weight: bold;
}

.login-container {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
}

.login-fields-container {
  margin-top: 20px;
}

.login-fields-container input {
  color: #c2c2c2;
}

.login-fields-container textarea {
  color: #c2c2c2;
}

.login-field {
  width: 80%;
}

.login-forgot-password-container {
  float: left;
}

.login-forgot-password-text {
  color: #484e61 !important;
  font-size: 16px !important;
}

.login-button-container {
  float: right;
}

.login-button {
  background-color: #434347;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  display: inline-block;
  color: white;
  font-family: "Open Sans" !important;
  font-size: 16px;
  min-height: 28px;
}

.login-register-container {
  text-align: center;
}

.landing-about-container {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 10px;
}

.landing-about {
  color: #474761;
  margin-right: 50px;
}

.landing-tos {
  color: #474761;
}

.landing-plans-button {
  width: 160px;
}

.landing-container-title {
  color: #434347 !important;
}

.landing-container-p {
  font-size: 16px;
}

.landing-container-email {
  font-size: 16px;
  text-decoration: underline;
}

.landing-register-button {
  width: 100px;
  padding: 0px 0px !important;
}

.dropDown-Container {
  background-color: #f8f8f8;
  border-color: #c7c7c7 !important;
  border-radius: 4px;
  border-style: solid !important;
  border-width: 1px !important;
  display: inline-block;
  height: 36px;
  overflow: hidden;
  width: 50.8%;
}

.dropDown-Container:hover {
  background-color: #f8f8f8;
  border-color: #c7c7c7 !important;
  border-radius: 4px;
  border-style: solid !important;
  border-width: 1px !important;
  height: 36px;
  overflow: hidden;
  width: 50.8%;
}

.btn-group-container {
  width: 100%;
}

.dropDown-Text {
  height: 40px;
  color: #555555;
  font-weight: normal;
  padding: 2px 0 2px 4px;
  text-align: left;
  width: 95%;
  width: calc(100% - 22px);
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

.dropDown-Button {
  height: 40px;
  background-image: url("../img/dropdownArrow.png");
  background-repeat: no-repeat;
  background-position: 6px 13px !important;
  text-align: left;
  text-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  width: 22px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

.dropDown-Container:hover .dropDown-Text {
  background-color: #f8f8f8;
}

.dropDown-Text:focus {
  background-color: #f8f8f8;
  color: #555555;
  font-weight: normal;
  height: 40px;
  outline: none;
  padding: 2px 0 2px 4px;
  text-align: left;
  width: 95%;
  width: calc(100% - 22px);
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

.dropDown-Container:hover .dropDown-Button {
  background-color: #f8f8f8;
}

.dropDown-Button:focus {
  height: 40px;
  background-color: #f8f8f8;
  background-image: url("../img/dropdownArrow.png");
  background-repeat: no-repeat;
  background-position: 6px 13px !important;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-shadow: none;
  width: 22px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

.dropdown-Menu-Container {
  width: 100%;
}

.header-container .page-header {
  border-bottom: 2px solid #bdbdbd;
}

.categories {
  background-color: #484e61;
  height: 100%;
  margin: 0;
  vertical-align: top !important;
}

.menu-container-collapse {
  z-index: 100 !important;
  max-width: 70px !important;
  min-width: 70px !important;
}

.menu-name-collapse {
  padding-left: 5px !important;
}

.menu-container {
  z-index: 100;
}

.menu-container.categories {
  min-width: 186px !important;
}

.menu-container.categories a {
  min-width: 161px !important;
}

#menu-collapsable-container.categories {
  min-width: 55px !important;
}

#menu-collapsable-container {
  text-align: left;
  z-index: 100;
}

#menu-collapsable-container img {
  margin-left: 5px;
}

#menu-collapsable-container a {
  padding-left: 5px;
}

#menu-collapsable-container .category {
  font-size: 18px;
  font-weight: lighter !important;
  display: inline-block;
  width: 11px;
}

#menu-collapsable-container .number-chart {
  border-radius: 2px;
  float: none;
  font-size: 12px;
  font-weight: bold;
  height: 17px;
  margin-left: 4px;
  margin-right: 0px;
  padding-top: 3px;
  top: 10px;
  text-align: center;
  width: 20px;
}

.home {
  height: 100%;
}

.home-header {
  height: 8%;
  padding-left: 10px;
}

.home-container {
  height: 100%;
}

.column-header {
  color: #bdbdbd;
  margin-left: 10px;
}

.category {
  color: white;
  font-size: 18px !important;
  font-weight: lighter !important;
}

.menu-option {
  font-size: 22px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
  background-color: #fcc110 !important;
  outline: none !important;
}

.menu-container .categories .nav > li > a:active > .number-chart, .nav > li > a:hover .number-chart, .nav > li > a:focus .number-chart {
  background-color: #E5E1DE !important;
}

.menu-container .categories .nav > li > a:hover .category, .nav > li > a:active > .category, .nav > li > a:focus .category {
  color: #434347 !important;
}

.headlines > li:first-child > a {
  background-color: #484e61;
  line-height: 20px;
}

.topics > li:first-child > a {
  line-height: 20px;
}

.worth-desktop-view {
  width: 34% !important;
}

.worth {
  min-width: 237px;
}

.worth > li {
  margin-bottom: -1px;
}

.worth > li > a {
  border: 1px solid transparent !important;
  line-height: 17px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 16px !important;
  line-height: 17px !important;
}

.worth > li > a > span {
  padding-left: 12px !important;
  padding-right: 75px !important;
}

.nav-tabs.nav-stacked > li > a {
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 2px !important;
  padding-top: 14px !important;
}

.border-items {
  border: 1px solid #B4B4B4;
  border-style: solid none;
}

.list-margin {
  background-color: #A2A2A2;
  height: 1px;
  padding: 0px;
  margin: 0px;
}

.worth > li:first-child > a {
  background-color: #484E61 !important;
  border: none;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 0px;
}

.worth > li > a {
  border: none;
  border-bottom: 1px solid #ff0000;
}

.worth > li {
  background-color: #EEEEEE;
  line-height: 1.5em !important;
}

.worth-menu-header {
  height: 60px;
}
.worth-menu-header .li > a {
  padding-top: 8px !important;
}

.worth-menu-header-link {
  background-color: #484e61;
  height: 60px;
  padding-left: 20px;
  padding-top: 17px;
  vertical-align: middle;
}

.menu-header {
  color: white;
  font-size: 24px;
  font-weight: lighter;
}

.default-header > .menu-header {
  background-color: #999999;
  margin-left: 7px;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  line-height: 1.5em !important;
}

.nav-tabs > li > a {
  border-radius: 0 !important;
  line-height: 35px;
}

.home .row-fluid [class*="span"] {
  margin-left: 0 !important;
}

.home .span5 {
  width: 43%;
}

.home .span7 {
  height: 100%;
}

.page-header {
  margin: 20px 0 0;
  padding-left: 10px;
}

.home-middle-container {
  height: 25%;
  margin: 1px;
}

.search-container {
  float: right;
  margin-right: 17%;
  margin-top: 23px;
}

.search-results {
  background-color: #F2F2F2;
  border-color: #474762;
  border-style: none solid solid;
  border-width: 1px;
  margin-right: 10px;
  position: absolute;
  z-index: 1;
}

.search-results-item {
  padding: 10px;
}

.search-results-item:hover {
  background-color: #FFBF00;
  cursor: pointer;
}

.search-icon {
  margin-right: 10px;
  margin-top: -8px;
}

.search-icon:hover {
  cursor: pointer;
}

.search-input {
  margin-right: 30px;
}

.ads {
  /*    background-color: #F0F0F0; */
  /*    padding: 6%; */
  padding: 6% 0%;
  position: relative;
}

.ads > div {
  background-color: #F0F0F0;
  position: absolute;
  top: 0%;
  width: 94%;
  height: 100%;
}

.logo-container {
  float: left;
  padding-top: 15px;
}

.main-content {
  background-color: #FFFFFF;
  border-top: 1px solid #BDBDBD;
  height: 100%;
  overflow: hidden;
}

.number-chart {
  background-color: #FCC110;
  border-radius: 2px;
  color: #474762;
  float: right;
  font-size: 12px;
  font-weight: bold;
  height: 17px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 3px;
  text-align: center;
  width: 20px;
}

.menu-icon-collapse {
  padding-top: 10px;
  padding-left: 22px;
  width: 100%;
}

.menu-icon-expand {
  padding-top: 10px;
  padding-left: 150px;
  width: 20%;
}

.menu-link-help-collapse {
  bottom: 3%;
  padding-left: 13px;
  position: absolute;
}

.menu-link-help-text {
  font-size: xx-large !important;
  font-weight: bold !important;
}

.menu-link-help {
  bottom: 3%;
  position: absolute;
}

.menu-link-privacy-policy {
  bottom: 8%;
  position: absolute;
}

.menu-link-account {
  bottom: 13%;
  position: absolute;
}

.menu-view-mobile-mode {
  height: 390px !important;
}
.menu-view-mobile-mode .menu-link-account {
  bottom: 80px !important;
}
.menu-view-mobile-mode .menu-link-privacy-policy {
  bottom: 40px !important;
}
.menu-view-mobile-mode .menu-link-help {
  bottom: 5px !important;
}

.home-search-input {
  border: none !important;
  box-shadow: none !important;
  color: #434347 !important;
  font-size: 24px !important;
  font-weight: lighter !important;
}

.new-menu-header {
  background-color: #fcc110;
  height: 58px;
}

.new-menu-header-item {
  background-color: white;
  color: #434347;
  float: right;
  font-size: 24px;
  font-weight: lighter;
  height: 57px;
  width: 99%;
}

.new-menu-header-title {
  padding-left: 20px;
  padding-top: 15px;
}

.default .span4 {
  width: 34%;
}

.default .span8 {
  width: 66%;
}

.topics {
  background-color: #EEEEEE;
  float: right !important;
}

.topic {
  color: #000000;
  word-wrap: normal;
  word-break: break-all;
}

.view-by {
  color: #434347 !important;
  display: inline-block;
  margin-left: 4px;
}

.new-topics-container {
  background-color: #FCC110 !important;
}

.default {
  height: 100%;
}

.new-topics-container .span11 {
  width: 97%;
}

.scrl {
  /* max-height: 853px;*/
  overflow: auto;
  overflow-x: hidden;
}

.word-wrapped {
  line-height: 1.5em;
  display: inline-block;
}

.is-relative {
  position: relative;
}

.is-Transformed {
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 0px;
  top: 10px;
  transform: translate(-5px, -50%);
  -webkit-transform: translate(-5px, -50%);
  width: 50%;
}

.is-Transformedx {
  margin: auto;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-5px, -50%);
  width: 50%;
}

/*scroll bar for safari & chrome*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-right: 2px;
}

/*
::-webkit-scrollbar-button:start:decrement,

::-webkit-scrollbar-button:end:increment {

    height: 1px;

    display: block;

    background-color: #EFF7FF;

}
*/
/*
::-webkit-scrollbar-button:horizontal:start:decrement,

::-webkit-scrollbar-button:horizontal:end:increment {

    height: 1px;

    display: block;

    background-color: #EFF7FF;

}
*/
::-webkit-scrollbar-track-piece {
  background-color: #EFF7FF;
}

/*
::-webkit-scrollbar-thumb:vertical,

::-webkit-scrollbar-thumb:horizontal

{

    background-color: #040404;

    border: 1px solid #dadada;

    -webkit-border-radius: 6px;

}
*/
.journal {
  background-color: #FFBF00 !important;
  height: 100%;
}

.journal-back-header {
  display: none;
  background-color: #999999;
  color: white;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.journal-header {
  background-color: white;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 85%;
}

.topic-right {
  display: inline-block;
  padding: 0px;
}

.newest-button {
  border-style: none;
  color: #434347;
  font-weight: bold;
  padding: 1px 4px 4px 4px;
}

.newest-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.topic-center {
  background-color: #434347;
  border-radius: 2px;
  border-style: none;
  color: #E5E5E5;
  font-size: 12px !important;
  margin-left: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

.journal-button {
  background-color: #F0F0F0;
  border-radius: 2px 2px 2px 2px;
  color: #888888;
  float: right;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  width: 25px;
}

.journal-tag {
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 2px;
  color: #A0A0A0;
  float: right;
  font-size: 12px;
  font-weight: bolder;
  height: 18px;
  padding: 0px;
}

.new-label {
  width: 35px;
}

.journal-label {
  width: 76px;
}

.topic-data {
  color: #000000;
  font-size: 16px !important;
  word-break: break-all;
  word-wrap: normal;
}

.article-back-header {
  display: none;
  background-color: #999999;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  line-height: 1.5em;
}

.article-back-header-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#article-back-header-btn:hover {
  color: #E6E6E6;
  text-decoration: none;
}

#article-back-header-btn:visited,
#article-back-header-btn:active,
#article-back-header-btn:link {
  color: #FFFFFF;
}

.date-volume {
  background-color: #434347;
  border-bottom: 1px #AFAFAF solid;
  color: #FFFFFF;
  font-size: 16px !important;
  padding-top: 7px;
  padding-bottom: 3px;
  text-align: center;
}

.article-header {
  background-color: #222223;
  height: 25px;
  padding: 10px;
}

.article-header-span {
  color: white;
}

.article-author {
  color: #777784;
  font-size: 12px;
}

.article-title {
  color: #000000;
  font-size: 15px;
  display: inline-block;
  padding-right: 65px;
}

.align-check-base {
  position: relative;
  line-height: 1.5em !important;
  overflow: hidden;
}

.align-check {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 30px;
}

.default .nav {
  margin-bottom: 1px !important;
}

.article-circle {
  color: #000000;
  background-color: #FCC110;
  border-color: #FCC110;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  float: left;
  height: 2px;
  margin-top: 10px;
  width: 2px;
}

.article-no-circle {
  height: 0px;
  border: none 0px;
}

.article-items {
  float: right;
  font-size: 12px !important;
  font-weight: bold;
  margin-right: 10px;
  margin-top: -15px;
}

.inactive-article {
  color: #D9D9D9 !important;
}

.active-article {
  color: #434347 !important;
}

.nav-tabs.nav-stacked.articles-column-list > li > a {
  border: 0px none;
}

.articles-column-underline {
  margin-left: 20px;
  border-bottom: 1px solid #DDDDDD;
  line-height: 15px;
}

.article-wrapper {
  margin-right: 50px;
  line-height: 1.5em;
}

.article-number {
  font-family: "Open Sans" !important;
}

.article-detail-back-header {
  display: none;
  background-color: #999999;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.article-detail-back-header-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 7px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#article-detail-back-header-btn:hover {
  color: #E6E6E6;
  text-decoration: none;
}

#article-detail-back-header-btn:visited,
#article-detail-back-header-btn:active,
#article-detail-back-header-btn:link {
  color: #FFFFFF;
}

.article-detail {
  border: 1px solid #FFBF00;
  height: 90%;
  overflow: auto;
}

.article-detail-container {
  background-color: #FFFFFF;
  float: right !important;
  height: 100%;
  width: 65% !important;
}

.article-detail-header {
  border-bottom: 1px solid #FFBF00;
  padding: 20px;
}

.article-detail-content {
  padding: 20px;
}

.article-detail-title {
  font-size: 18px;
  font-weight: bold;
}

.article-detail-author {
  font-size: 12px;
}

.article-detail-text {
  text-align: justify;
}

.article-detail-list {
  background-color: #BDBDBD;
  height: 90%;
  margin-left: 10px;
  overflow: auto;
}

.article-detail-footer {
  background-color: #FFBF00;
  height: 9.8%;
}

.article-detail-button {
  background-color: #474762;
  border: 1px solid #474762;
  display: inline-block;
  color: white;
  float: right;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  margin-right: 20px;
  margin-top: 15px;
}

.important-article {
  background-color: #F0F0F0;
  float: left !important;
  font-size: 12px !important;
  height: 90% !important;
  margin-left: 1%;
  overflow: auto;
  width: 34% !important;
}

.important-article-container {
  background-color: #FFBF00;
  height: 100%;
  width: 100% !important;
}

.important-article .article-title {
  font-size: 14px !important;
}

.article-detail-footer-items {
  float: left;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 20px;
}

.footer-button {
  font-size: 26px;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
}

.register-main-container {
  background-color: white;
  height: 100%;
  margin-left: 10%;
  padding-bottom: 20px;
  width: 80%;
}

.register {
  background-color: #fcc110;
}

.register .span2 {
  width: 10%;
}

.register .span8 {
  width: 80%;
}

.register-header {
  border-bottom: 1px solid #c2c2c2;
  height: 8%;
  min-height: 70px;
  padding-left: 10%;
}

.register-required {
  color: red;
}

.register-title-container {
  width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 10%;
  border-bottom: 1px solid #fcc110;
}

.register-section-container-left {
  display: table-cell;
}

.register-section-container-right {
  padding-bottom: 20px;
  display: table-cell;
}

.register-hr {
  width: 100%;
  height: 20px;
  border-bottom: 2px solid #c2c2c2;
}

.register-section-container-center {
  padding-top: 30px;
  text-align: center;
  width: 20%;
  display: table-cell;
}

.register-section-top {
  height: 50px;
  width: 100%;
  width: calc(100% - 20px);
  display: table;
  /* Padding applied only if width calc applied */
  padding-left: calc(10px);
  padding-right: calc(10px);
}

.register-section {
  color: #8c8c8c;
  font-size: 16px;
}

.register-title {
  font-size: 28px;
}

.register-align-right {
  float: right;
  margin-bottom: 10px;
}

.register-login {
  height: 210px;
  padding-top: 30px;
}

.register-personal-info {
  height: 375px;
  padding-top: 30px;
}

.register-address-info {
  height: 515px;
  padding-top: 30px;
}

.register-button {
  height: auto !important;
  margin-left: 27.4%;
  max-width: 240px;
  min-width: 180px;
}

.register-button-container {
  height: 32px;
}

.register-specialties-container {
  padding-left: 20px;
}

.register-container {
  height: 37px;
  width: 100%;
}

.register-check-container {
  float: left;
  padding-right: 10px;
  padding-top: 2px;
}

.register-right-labels {
  display: inline;
  float: left;
  padding-top: 4px;
  width: 50%;
  padding-left: 1px;
}

.register-check-labels {
  display: inline;
  float: left;
  padding-top: 4px;
}

.register-container-select {
  background-color: #f8f8f8;
  border-color: #c7c7c7 !important;
  border-radius: 4px;
  border-style: solid !important;
  border-width: 1px !important;
  height: 36px;
  overflow: hidden;
  width: 50.8%;
}

.register-container-select select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #363636 !important;
  font-size: 16px !important;
  height: 36px;
  width: 103%;
}

.register-labels {
  color: #8c8c8c;
  display: inline;
  float: left;
  margin-right: 20px;
  padding-top: 4px;
  text-align: right;
  width: 27%;
}

.register-fields {
  border-color: #c7c7c7 !important;
  border-style: solid !important;
  border-width: 1px !important;
  float: left;
  height: 26px !important;
  width: 50%;
}

.register-check-fields {
  margin-left: 27%;
  padding-left: 20px;
}

.register-button-container {
  margin-left: 27%;
  padding-left: 20px;
}

.forgot-password {
  background-color: #FFBF00;
  height: 91.8%;
}

.forgot-password-main-container {
  background-color: white;
  height: 100%;
  margin-left: 10%;
  width: 80%;
}

.forgot-password-form {
  padding-left: 50px;
  padding-top: 50px;
}

.forgot-password-form-container {
  margin-left: 35%;
  padding-top: 60px;
  width: 60%;
}

.forgot-password-label {
  font-size: 16px;
}

.forgot-password-input {
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  width: 45%;
}

.forgot-password-button {
  margin-left: 12%;
  width: 23%;
}

.account-button {
  height: auto !important;
  width: 200px;
}

.account-tittle {
  background-color: white;
  color: #434347;
  float: right;
  font-size: 24px;
  font-weight: lighter;
  height: 57px !important;
  width: 99%;
}

.account-container {
  background-color: #fcc110;
  height: 58px;
}

.account-container .page-header {
  border-bottom: 1px solid #fcc110;
  height: 58px;
  margin: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.account-section {
  background-color: #fcc110;
  height: 100%;
}

.account-information-container {
  background-color: white;
  float: right;
  height: 100%;
  width: 99%;
}

.account-information {
  border-right: 1px solid #fcc110;
  margin-right: 15px;
  margin-top: 15px;
}

.account-information-second-container {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .account-information-second-container {
    padding-top: 20px;
    clear: both;
  }
}
.section-tittle {
  font-weight: bold;
}

.specility-item {
  margin-left: 20px;
}

.td-date {
  width: 70%;
}

/*
.row-fluid .span6 {
    width: 48%;
}
*/
.editInformation-section {
  background-color: #fcc110;
  height: 100%;
}

.editInformation-info-container {
  background-color: white;
  float: right;
  height: 100%;
  width: 99%;
}

.editInformation-main-title {
  font-size: 24.5px;
  line-height: 40px;
  color: inherit;
  font-weight: bold;
  margin-left: 20px;
}

.editInformation-second-title {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  font-weight: bold;
}

.editInformation-button {
  width: 100px;
  padding: 0px 0px !important;
}

.editInformation-labels {
  color: #8c8c8c;
  display: inline;
  float: left;
  margin-right: 20px;
  padding-top: 4px;
  text-align: right;
  width: 27%;
}

.editInformation-right-labels {
  display: inline;
  float: left;
  padding-left: 1px;
  padding-top: 4px;
  width: 50%;
}

.editInformation-check-labels {
  display: inline;
  padding-top: 4px;
  width: 50%;
}

.editInformation-fields {
  border-color: #c7c7c7 !important;
  border-style: solid !important;
  border-width: 1px !important;
  float: left;
  height: 26px !important;
  width: 50%;
}

.editInformation-container-select {
  background-color: #f8f8f8;
  background-image: url("../img/dropdownArrow.png");
  background-position: 99% 12px;
  background-repeat: no-repeat;
  border-color: #c7c7c7 !important;
  border-radius: 4px;
  border-style: solid !important;
  border-width: 1px !important;
  height: 36px;
  overflow: hidden;
  width: 51%;
}

.editInformation-container-select select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #363636 !important;
  font-size: 16px !important;
  height: 36px;
  width: 104%;
}

.editInformation-check-fields {
  margin-left: 27%;
  padding-left: 20px;
}

.editInformation-container {
  height: 37px;
  padding-top: 20px;
  width: 100%;
}

.editInformation-button-container {
  margin-left: 29.5%;
}

.editInformation-check-container {
  float: left;
  padding-right: 10px;
  padding-top: 2px;
}

.checkbox-container {
  padding-top: 4px;
}

.checkbox-container input {
  display: none;
}

.checkbox-container label {
  background-image: url(../img/checkbox_up.png);
  display: block;
  height: 17px;
  width: 18px;
}

.checkbox-container input:checked + label {
  background-image: url(../img/checkbox_selected.png);
}

.editInformation-dropDown-Container {
  width: 50.7% !important;
}

.changePassword-section {
  background-color: #fcc110;
  height: 100%;
}

.changePassword-information-container {
  background-color: white;
  float: right;
  height: 100%;
  width: 99%;
}

.changePassword-button {
  width: 100px;
  padding: 0px 0px !important;
}

.changePassword-button-container {
  margin-left: 29%;
}

.changePassword-container {
  height: 37px;
  width: 100%;
}

.changePassword-labels {
  color: #8c8c8c;
  display: inline;
  float: left;
  margin-right: 20px;
  padding-top: 4px;
  text-align: right;
  width: 27%;
}

.changePassword-Form {
  margin-top: 40px;
}

.changePassword-fields {
  border-color: #c7c7c7 !important;
  border-style: solid !important;
  border-width: 1px !important;
  float: left;
  height: 26px !important;
}

.changeSubscription-section {
  background-color: #fcc110;
  height: 100%;
}

.changeSubscription-information-container {
  background-color: white;
  float: right;
  height: 100%;
  width: 99%;
}

.changeSubscription-button {
  width: 150px;
  padding: 0px 0px !important;
}

.changeSubscription-button-actions {
  width: 100px;
  padding: 0px 0px !important;
}

.changeSubscription-container {
  width: 100%;
  margin-top: 10px;
  clear: both;
}

.changeSubscription-big-container {
  width: 100%;
  margin-top: 40px;
}

.changeSubscription-info-container {
  margin-top: 40px;
  padding-top: 25px;
  width: 100%;
}

.changeSubscription-labels {
  display: inline;
  padding-top: 4px;
  float: right;
}

.changeSubscription-form {
  margin-top: 60px;
  padding-left: 30px;
  padding-top: 10px;
}

.changeSubscription-field {
  margin-left: 25px;
}

.changeSubscription-text {
  font-size: 11px;
}

.changeSubscription-section-tittle {
  font-size: 18px;
  font-weight: bold;
}

.radio-container {
  float: left;
  padding-top: 6px;
  width: 35px;
}

.radio-container input {
  display: none;
}

.radio-container label {
  background-image: url(../img/radio_up.png);
  display: block;
  height: 17px;
  margin-bottom: 0px !important;
  width: 17px;
}

.radio-container input:checked + label {
  background-image: url(../img/radio_selected.png);
}

.label-radio-button {
  float: left;
}

.admin-menu-container {
  padding: 10px;
  width: 99%;
}

.admin-menu-item {
  padding: 8px;
  width: 20%;
}

.admin-container {
  padding: 10px;
}

.form input[type="file"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
  left: 0;
}

.add-photo-btn {
  background-color: #DDDDDD;
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 18px;
  height: 31px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 60px;
}

.journal-curation-input {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.journal-curation-text {
  float: left;
  margin-top: 5px;
}

.journal-curation-container {
  margin-left: 5%;
  margin-top: 5%;
}

.userAdmin-container {
  margin-top: 20px;
  margin-left: 15%;
  width: 70%;
}

.userAdminDetail-container {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
}

.userAdmin-inside-container {
  float: left;
  margin-top: 20px;
  width: 31.5%;
  padding-bottom: 20px;
}

.userAdmin-center-container {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  padding-left: 20px;
  padding-right: 20px;
}

.userAdmin-right-container {
  padding-left: 20px;
}

.user-name {
  font-weight: bold;
}

.user-enable {
  margin-top: 20px;
}

.radio-button {
  margin-top: -3px !important;
}

.input-code {
  width: 95%;
}

.hasDatepicker {
  margin-left: 22%;
  width: 60%;
}

.users-dataTable {
  text-align: center;
}

.dataTables_wrapper {
  margin-top: 30px;
}

.dataTables_scroll {
  margin-bottom: 20px;
}

.users-button {
  background-color: #474762;
  color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.ember-view {
  height: 100%;
}

html, body {
  font-family: "Open Sans" !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.default-button {
  background-color: #fcc110;
  height: 30px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  display: inline-block;
  color: #474762;
  font-family: "Open Sans" !important;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 30px;
}

@media (max-width: 767px) {
  .journal-back-header, .article-back-header, .article-detail-back-header {
    display: block;
  }

  h2 {
    font-size: 16px;
  }

  h1, h2, h3 {
    line-height: 25px;
  }

  .landing-text {
    font-size: 12px;
  }

  .articles-list {
    display: none !important;
  }

  .journals, .home .span7, .default .span4, .default .span8 {
    width: 100% !important;
  }

  #journals-container.journals {
    height: 300 !important;
  }

  .home {
    background-color: #FFBF00;
    height: 85% !important;
    overflow: auto;
    width: 100% !important;
  }

  .home .span1 {
    height: 85%;
    position: absolute;
    width: 15%;
  }

  #menu-collapsable-container.span1 {
    text-align: center;
  }

  .articles-stack {
    background-color: white !important;
  }

  .nav-tabs > li > a {
    line-height: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .article-header {
    padding: 0;
  }

  .article-author {
    font-size: 11px;
  }

  .article-title {
    font-size: 13px;
  }

  .article-detail-container {
    width: 100% !important;
  }

  .articles-column-list {
    background-color: #E6E6E6;
  }

  .journal-header {
    padding: 3px;
  }

  .topics {
    font-size: 12px;
  }

  .static-ad {
    background-color: #F0F0F0;
    height: 7% !important;
  }

  .logo-container {
    margin-left: -3px;
    width: 60%;
  }

  .search-icon {
    margin-right: 0;
  }

  .search-field {
    display: none !important;
  }

  .article-detail {
    background-color: white !important;
    height: auto;
  }

  .article-detail-button {
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 12px;
  }

  .article-detail-footer-items {
    margin-bottom: 5px;
    margin-top: 18px;
  }

  .search-container {
    margin-top: 10px;
    margin-right: 0;
    text-align: right;
    width: 20%;
  }

  .article-detail-header {
    padding: 5px;
  }

  .article-detail-title {
    font-size: 13px;
  }

  .article-detail-author {
    font-size: 11px;
  }

  .article-detail-content {
    padding: 5px;
  }

  .article-detail-text {
    font-size: 12px;
  }

  .collapse-container {
    width: 20%;
    float: left;
    margin-top: 2%;
  }

  .collapse-icon:hover {
    cursor: pointer;
  }

  .landing .span10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .landing-video {
    height: 130px !important;
    margin-left: 0;
    width: 100% !important;
  }

  .vjs-default-skin .vjs-big-play-button {
    height: 6em !important;
    margin: 5% 0 0 40% !important;
  }

  .vjs-default-skin .vjs-big-play-button:before {
    line-height: 2 !important;
  }
}
@media (min-width: 768px) and (max-width: 1460px) {
  .menu-header {
    font-size: 28px;
    font-weight: normal;
  }

  .article-author {
    color: #777784;
    font-size: 11px;
  }

  .article-title {
    color: #000000;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  #worth-container, #ads-container {
    display: none !important;
  }

  #ads-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 200;
  }

  #search-field, #search-icon {
    display: none !important;
  }
}
.active-item {
  font-weight: bold;
}

.inactive-item {
  font-weight: lighter;
}

.article-check {
  background: url("../img/check-active.png") no-repeat;
  border-style: none;
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 22px;
}

.article-not-check {
  background: url("../img/check-inactive.png") no-repeat;
  border-style: none;
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 17px;
}

.fix-height {
  height: 50px;
}
