<div class="home">
    <div class="row-fluid home-container">
        <div class="row-fluid" style="width: 100%;">
            <div class="home-header span12" style="background-color: #FFFFFF; height: 62px;">
                <div class="collapse-container" id="collapse" style="display:none;">
                    <img src="img/collapse.png" class="collapse-icon" {{action 'showMenu'}}>
                </div>
                <div class="logo-container">
                    <img src="img/logoMain.png">
                </div>
                <div class="search-container">
                    <img class="search-icon" src="img/search.png" id="search-icon">
                    <input type="text" class="search-input home-search-input" id="search-field" placeholder="Search">
                    <label>Search List</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="static-ad" id="static-ads-container">
    Static Ad
</div>