<div class="row-fluid landing sameheight-wrap">
    <div class="col-md-9 landing-content sameheight">
        <div class="landing-header">
            <img src="../img/banner001.png">
        </div>
        <div class="landing-plans">
            <div class="landing-banner2">
                <img src="../img/banner002.png">
            </div>
            <div style="height: 60px;"></div>
            <video id="example_video_1" class="video-js vjs-default-skin landing-video" controls preload="none"
                   poster="http://video-js.zencoder.com/oceans-clip.png"
                   data-setup="{}">
                <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
            </video>
            <div class="landing-section">
            </div>
            <div class="landing-banner3">
                <img src="../img/banner003.png">
            </div>
            <div class="landing-button-plans-container">
                <button type="button" class="default-button landing-plans-button">
                    View Plans
                </button>
            </div>
            <div style="height: 40px;"></div>
            <div id="plans-table" class="landing-plans-table">

                <div id="landing-plans-container" style="">

                    <div class="landing-column landing-column-month landing-border-bottom landing-column-nomargin">
                        <div class="landing-table-headers">
                            <span>Month-to-Month<br> Plan</span>
                        </div>
                        <div class="landing-table-content landing-border-bottom landing-month">
                            <span class="landing-font-weight">$9.99/month</span>
                        </div>
                        <div class="landing-table-content landing-border-bottom landing-month">
                            <span>Track up to 50 journals</span>
                        </div>
                        <div class="landing-table-content landing-border-bottom landing-month">
                            <span>All Alert Types</span>
                        </div>
                        <div class="landing-table-content landing-month">
                            <span>Automatic Renewal</span>
                        </div>
                    </div>

                    <div class="landing-column landing-column-annual landing-column-border landing-border-bottom landing-column-nomargin">
                        <div class="landing-table-headers landing-table-annual">
                            <span>Annual Plan<br>  Best Value</span>
                        </div>
                        <div class="landing-table-content landing-table-best landing-border-bottom">
                            <span class="landing-font-weight">$99/year</span>
                        </div>
                        <div class="landing-table-content landing-table-best landing-border-bottom">
                            <span>Track up to 50 journals</span>
                        </div>
                        <div class="landing-table-content landing-table-best landing-border-bottom">
                            <span>All Alert Types</span>
                        </div>
                        <div class="landing-table-content landing-table-best">
                            <span>Automatic Renewal</span>
                        </div>
                    </div>

                    <div class="landing-column landing-column-right-border landing-border-bottom landing-column-nomargin">
                        <div class="landing-table-headers">
                            <span>Institutional<br>  Plan</span>
                        </div>
                        <div class="landing-table-content landing-table-institutional landing-border-bottom">
                            <span>Purchase access to all<br> employees in your<br> organization</span>
                        </div>
                        <div class="landing-table-content landing-table-institutional landing-border-bottom">
                            <span>Track up to 50 journals <br> per user</span>
                        </div>
                        <div class="landing-table-content landing-table-institutional landing-border-bottom">
                            <span>All Alert Types</span>
                        </div>
                        <div class="landing-table-content landing-table-institutional landing-border-bottom">
                            <span>Through-click to institutional <br> journal subscriptions</span>
                        </div>
                        <div class="landing-table-content landing-table-institutional">
                            <span>Contact us for <br> customized pricing</span>
                        </div>
                    </div>

                    <div class="landing-column landing-column-left-border landing-border-bottom">
                        <div class="landing-table-headers">
                            <span>Free<br>  Plan</span>
                        </div>
                        <div class="landing-table-content landing-border-bottom">
                            <span>Always Free</span>
                        </div>
                        <div class="landing-table-content">
                            <span>Track up to 3 journals <br> RSS Alerts Only</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 landing-side-container sameheight" id="landing-side-container">

        <div class="landing-top-container">
            <h4 class="landing-container-title">Want to see what's inside?</h4>
            <div>
                <button type="button" class="landing-button">Click here <br> <span class="landing-button-text">for current TOCs <br> for 3 top journals</span></button>
            </div>
        </div>

        <div class="landing-login-container">
            <div class="login-header">
                <h3 style="font-weight: lighter">Login or Register</h3>
            </div>
            <div class="login-fields-container">
                <input type="text" id="txtLoginUsername" class="login-field" placeholder="username">
                <input type="password" id="txtLoginPassword" class="login-field" placeholder="password">
            </div>
            <div class="login-container">
                <div class="login-forgot-password-container">
                    <a href="#/forgotPassword" lass="login-forgot-password-text">Forgot Password ?</a>
                </div>
                <div class="login-button-container">
                    <button type="button" class="login-button">Login</button>
                </div>
            </div>
            <div class="login-register-container">
                <h4 class="landing-container-title">Not a member?</h4>
                <div class="">
                    <a href="#/register" class="default-button landing-register-button" ng-click="goto('/register')">
                        Register
                    </a>
                </div>
            </div>
        </div>

        <div class="landing-contact-container">
            <div class="login-header">
                <h3 style="font-weight: lighter">Contact Us</h3>
            </div>
            <div>
                <h5 class="landing-container-title">We want to hear from you!</h5>
            </div>
            <div>
                <p class="landing-container-title landing-container-p">Let us know of your compliments,<br>
                    complaints, and suggestions. We<br>
                    work every day to make Track<br>
                    TOC the best tool on the planet</p>
            </div>
            <div class="landing-container-email">
                Administrator@TracTOC.com
            </div>
            <div class="login-fields-container">
                <input type="text" id="txContactName" class="login-field" placeholder="your name">
                <input type="email" id="txtContactEmail" class="login-field" placeholder="email address">
                <textarea id="txtContactMessage" class="login-field" placeholder="your mesage"></textarea>
                <button type="button" class="login-button">Send Message</button>
            </div>
        </div>

        <div class="landing-about-container">
            <a>About Us</a>
            <a>Terms of Service</a>
        </div>

    </div>
</div>

