<div class="header-container register-header">
    <img src="../img/logo.png">
</div>

<div class="register">
<div class="register-main-container">
<div class="register-title-container">
    <span class="register-title">Register</span>
    <div class="register-align-right">
        <span class="register-required">*</span><span>&nbsp&nbspRequired</span>
    </div>
</div>
<div class="register-section-top">
    <div class="register-section-container-left">
        <div class="register-hr" ></div>
    </div>
    <div class="register-section-container-center">
        <span class="register-section">Login Info</span>
    </div>
    <div class="register-section-container-right">
        <div class="register-hr" ></div>
    </div>
</div>
<div class="register-login">
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtRegisterUsername"><span class="register-required">*&nbsp</span>Username</label>
                </span>
        <input type="text" id="txtRegisterUsername" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                     <label for = "txtRegisterPassword"><span class="register-required">*&nbsp</span>Password</label>
                </span>
        <input type="password" id="txtRegisterPassword" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtRegisterConfirmPassword"><span class="register-required">*&nbsp</span>Confirm Password</label>
                </span>
        <input type="password" id="txtRegisterConfirmPassword" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtRegisterEmail"><span class="register-required">*&nbsp</span>Email</label>
                </span>
        <input type="email" id="txtRegisterEmail" class="register-fields">
    </div>
</div>
<div class="register-section-top">
    <div class="register-section-container-left">
        <div class="register-hr" ></div>
    </div>
    <div class="register-section-container-center">
        <span class="register-section">Personal Info</span>
    </div>
    <div class="register-section-container-right">
        <div class="register-hr" ></div>
    </div>
</div>
<div class="register-personal-info">
    <div class="register-container">
                <span class="register-labels">
                    <label for="cmbRegisterHonorific"><span class="register-required">*&nbsp</span>Honorific</label>
                </span>
        <div class="dropDown-Container">
            <div id="cmbRegisterHonorific" class="btn-group" style="width: 100%;">
                <div class="btn-group btn-group-container">
                    <button class="btn dropDown-Text"></button>
                    <button class="btn dropDown-Button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-Menu-Container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for="txtRegisterFirstName"><span class="register-required">*&nbsp</span>First Name</label>
                </span>
        <input type="text" id="txtRegisterFirstName" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for="txtRegisterLastName"><span class="register-required">*&nbsp</span>Last Name</label>
                </span>
        <input type="text" id="txtRegisterLastName" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtRegisterCompany"><span class="register-required">*&nbsp</span>Company Name</label>
                </span>
        <input type="text" id="txtRegisterCompany" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                    <span class="register-labels">
                        <label for = "txtRegisterDegree"><span class="register-required">*&nbsp</span>Degree</label>
                    </span>
        <input type="text" id="txtRegisterDegree" class="register-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                    <span class="register-labels">
                        <label for = "cmbRegisterSpecialty"><span class="register-required">*&nbsp</span>Specialty</label>
                    </span>
        <div class="dropDown-Container">
            <div id="cmbRegisterSpecialty" class="btn-group" style="width: 100%;">
                <div class="btn-group btn-group-container">
                    <button class="btn dropDown-Text"></button>
                    <button class="btn dropDown-Button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-Menu-Container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="register-specialties-container">
        <button type="button" class="register-button default-button">Add More Specialties</button>
    </div>
</div>
<div class="register-section-top">
    <div class="register-section-container-left">
        <div class="register-hr" ></div>
    </div>
    <div class="register-section-container-center">
        <span class="register-section">Contact Info</span>
    </div>
    <div class="register-section-container-right">
        <div class="register-hr" ></div>
    </div>
</div>
<div class="register-address-info">
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtAddress1">Address</label>
                </span>
        <input type="text" id="txtAddress1" class="editInformation-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtAddress2">Address</label>
                </span>
        <input type="text" id="txtAddress2" class="editInformation-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtCity">City</label>
                </span>
        <input type="text" id="txtCity" class="editInformation-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "cmbState">State</label>
                </span>
        <div class="dropDown-Container">
            <div id="cmbState" class="btn-group" style="width: 100%;">
                <div class="btn-group btn-group-container">
                    <button class="btn dropDown-Text"></button>
                    <button class="btn dropDown-Button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-Menu-Container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtZipCode"><span class="register-required">*&nbsp</span>Zip/Postal Code</label>
                </span>
        <input type="text" id="txtZipCode" class="editInformation-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "cmbCountry"><span class="register-required">*&nbsp</span>Country</label>
                </span>
        <div class="dropDown-Container">
            <div id="cmbCountry" class="btn-group" style="width: 100%;">
                <div class="btn-group btn-group-container">
                    <button class="btn dropDown-Text">Choose Country</button>
                    <button class="btn dropDown-Button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-Menu-Container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for = "txtPhone">Phone</label>
                </span>
        <input type="text" id="txtPhone" class="editInformation-fields">
    </div>
    <div style="height: 20px;"></div>
    <div class="register-container">
                <span class="register-labels">
                    <label for="myAlerts">
                        <span class="register-required">*&nbsp
                        </span>
                        Contact Reference
                    </label>
                </span>
        <div class="register-check-container">
            <label class="checkbox-container">
                <input type="checkbox" name="checkContact" id="myAlerts" class="editInformation-check-input"/>
                <label for="myAlerts"></label>
            </label>
        </div>
                <span class="register-right-labels">
                    <label for="myAlerts">
                        Only My Alerts
                    </label>
                </span>
    </div>
    <div style="height: 5px;"></div>
    <div class="register-container">
        <div class="register-check-fields">
            <div class="register-check-container">
                <label class="checkbox-container">
                    <input type="checkbox" name="checkContact" id="news"/>
                    <label for="news"></label>
                </label>
            </div>
                <span class="register-check-labels">
                    <label for="news">Trac TOC News</label>
                </span>
        </div>
    </div>
    <div style="height: 5px;"></div>
    <div class="register-container">
        <div class="register-check-fields">
            <div class="register-check-container">
                <label class="checkbox-container">
                    <input type ="checkbox" name ="checkContact" id="partners"/>
                    <label for="partners"></label>
                </label>
            </div>
                <span class="register-check-labels">
                    <label for="partners">Trac Toc News and messages from our trusted partners</label>
                </span>
        </div>
    </div>
</div>
<br>
<br>
<div class="register-button-container">
    <div style="float: left; padding-right: 20px;">
        <button type="button" class="editInformation-button default-button">
            Save
        </button>
    </div>
    <div style="float: left;">
        <a href="#/" class="editInformation-button default-button">
            Cancel
        </a>
    </div>
</div>
<br>
</div>
</div>

